version: 2.1

orbs:
  aws-cli: circleci/aws-cli@4.0

executors:
  docker-publisher:
    environment:
      IMAGE_NAME: jaymercado/genesys
    docker:
      - image: circleci/buildpack-deps:stretch

jobs:
  build:
    executor: docker-publisher
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: |
            docker build --platform linux/arm64 -t $IMAGE_NAME:latest .
      - run:
          name: Archive Docker image
          command: docker save -o image.tar $IMAGE_NAME
      - persist_to_workspace:
          root: .
          paths:
            - ./image.tar
  push-image:
    executor: docker-publisher
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: Load archived Docker image
          command: docker load -i /tmp/workspace/image.tar
      - run:
          name: Publish Docker Image to Docker Hub
          command: |
            echo "test12345" | docker login -u "jaymercado" --password-stdin
            docker push $IMAGE_NAME:latest
  update-ecs-service:
    executor: aws-cli/default
    steps:
      - checkout
      - aws-cli/setup:
          profile_name: WEB IDENTITY PROFILE
      - run: |
          TASK_DEFINITION=$(aws ecs describe-task-definition --task-definition "GenesysTaskDefinition" --region "ap-southeast-1")
          NEW_TASK_DEFINITION=$(echo $TASK_DEFINITION | jq --arg IMAGE "jaymercado/genesys:latest" '.taskDefinition | .containerDefinitions[0].image = "jaymercado/genesys:latest" | del(.taskDefinitionArn) | del(.revision) | del(.status) | del(.requiresAttributes) | del(.compatibilities) |  del(.registeredAt)  | del(.registeredBy)')
          NEW_TASK_INFO=$(aws ecs register-task-definition --region "ap-southeast-1" --cli-input-json "$NEW_TASK_DEFINITION")
          NEW_REVISION=$(echo $NEW_TASK_INFO | jq '.taskDefinition.revision')
          aws ecs update-service --cluster "GenesysCluster" --service "GenesysService" --task-definition GenesysTaskDefinition:${NEW_REVISION}
 
workflows:
  build-and-deploy:
    jobs:
      - build:
          filters:
            branches:
              only: circleci-project-setup
      - push-image:
          requires:
            - build
          filters:
            branches:
              only: circleci-project-setup
      - update-ecs-service:
          requires:
            - push-image
          filters:
            branches:
              only: circleci-project-setup